x-default-logging: &logging
  driver: json-file
  options:
    max-file: 2
    max-size: 5m
  # driver: loki
  # options:
  #   labels: namespace
  #   loki-pipeline-stages: |
  #     - regex:
  #         expression: (traceid)=(\w+)
  #     - labels:
  #         trace_id:
  #   loki-relabel-config: |
  #     - action: replace
  #       source_labels:
  #         - namespace
  #         - compose_service
  #       separator: '/'
  #       target_label: job
  #     - action: replace
  #       source_labels:
  #         - container_name
  #       target_label: instance
  #     - action: labelmap
  #       regex: traceid
  #       replacement: trace_id
  #   loki-url: http://host.docker.internal:3100/loki/api/v1/push

services:
  cockroach:
    command:
      - start-single-node
      - --accept-sql-without-tls
      - --http-addr=:8080
      - --insecure
      - --listen-addr=:26257
      - --store=attrs=ssd,path=/var/lib/cockroach/
    container_name: cockroach
    # depends_on: []
    # entrypoint: []
    # environment: []
    expose:
      - 8080 # Panel
      - 26257 # API
    extra_hosts:
      - host.docker.internal:host-gateway
    healthcheck:
      interval: 10s
      retries: 5
      start_period: 10s
      test: ["CMD-SHELL", "curl -f http://cockroach:8080/health || exit 1"]
      timeout: 5s
    image: cockroachdb/cockroach:v23.1.8
    labels:
      namespace: cockroach
    logging: *logging
    # platform: linux/amd64
    ports:
      - "8080:8080"
      - "26257:26257"
    restart: "no"
    volumes:
      - cockroach:/var/lib/cockroach
    # working_dir: ""

  cockroach-migrate:
    # command: []
    container_name: cockroach-migrate
    depends_on:
      cockroach:
        condition: service_healthy
    entrypoint:
      - /bin/sh
      - -c
      - -Eefuvx
      - cockroach sql --file=/init_schema.up.sql --host=cockroach:26257 --insecure
    # environment: []
    # expose: []
    extra_hosts:
      - host.docker.internal:host-gateway
    # healthcheck: {}
    image: cockroachdb/cockroach:v23.1.8
    labels:
      namespace: cockroach-migrate
    logging: *logging
    # platform: linux/amd64
    # ports: []
    restart: "no"
    volumes:
      - ./db/init_schema.up.sql:/init_schema.up.sql:ro
    # working_dir: ""
  pgadmin4:
    # command: []
    container_name: pgadmin4
    depends_on:
      cockroach:
        condition: service_healthy
    # entrypoint: []
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL:-pgadmin4@domain.com}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD:-SuperSecret}
      - PGADMIN_LISTEN_ADDRESS=${PGADMIN_LISTEN_ADDRESS:-0.0.0.0}
      - PGADMIN_LISTEN_PORT=${PGADMIN_LISTEN_PORT:-5050}
    expose:
      - 5050
    extra_hosts:
      - host.docker.internal:host-gateway
    healthcheck:
      interval: 10s
      retries: 5
      start_period: 10s
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --spider --tries=1 http://pgadmin4:5050 || exit 1",
        ]
      timeout: 5s
    image: dpage/pgadmin4:7.5
    labels:
      namespace: pgadmin4
    logging: *logging
    # platform: linux/amd64
    ports:
      - "5050:5050"
    restart: "no"
    volumes:
      - ./docker/pgadmin4/passwords.txt:/pgadmin4/pass:ro
      - ./docker/pgadmin4/servers.json:/pgadmin4/servers.json:ro
      - pgadmin4:/var/lib/pgadmin
    # working_dir: ""
  
  # swagger-ui:
  #   # command: []
  #   container_name: swagger-ui
  #   depends_on:
  #     gateway:
  #       condition: service_healthy
  #   # entrypoint: []
  #   environment:
  #     # - API_KEY=${API_KEY:-**None**}
  #     # - BASE_URL=${BASE_URL:-}
  #     - PORT=${PORT:-7071}
  #     # - SWAGGER_JSON=${SWAGGER_JSON:-openapiv2/apidocs.swagger.json}
  #     # - SWAGGER_JSON_URL=${SWAGGER_JSON_URL:-http://127.0.0.1:7070/openapiv2/apidocs.swagger.json}
  #     # https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/configuration.md
  #     # - URLS:${URLS:- [{ url: "http://127.0.0.1:7070/openapiv2/apidocs.swagger.json", name: "apidocs" }]}
  #   expose:
  #     - 7071
  #   extra_hosts:
  #     - host.docker.internal:host-gateway
  #   healthcheck:
  #     interval: 10s
  #     retries: 5
  #     start_period: 10s
  #     test:
  #       [
  #         "CMD",
  #         "/wget",
  #         "--no-verbose",
  #         "--spider",
  #         "--tries=1",
  #         "http://swagger-ui:7071",
  #       ]
  #     timeout: 5s
  #   image: swaggerapi/swagger-ui:v5.3.1
  #   labels:
  #     namespace: swagger-ui
  #   logging: *logging
  #   # platform: linux/amd64
  #   ports:
  #     - "7071:7071"
  #   restart: "no"
  #   # volumes: []
  #   # working_dir: ""

version: "3.9"
volumes:
  # casbin-asset: {}
  # casbin-asset-migrate: {}
  # casbin-server: {}
  # casbin-server-migrate: {}
  cockroach: {}
  # cockroach-migrate: {}
  # devcontainer: {}
  # envoy: {}
  # gateway: {}
  # goreleaser: {}
  # grafana: {}
  # jaeger: {}
  # keto: {}
  # keto-migrate: {}
  # kratos: {}
  # kratos-migrate: {}
  # kratos-migrate-sqlite: {}
  # kratos-sqlite: {}
  # kratos-selfservice-ui-node: {}
  # loki: {}
  # mailslurper: {}
  # mariadb: {}
  # materialize-cli: {}
  # materialized: {}
  # matomo: {}
  # nginx: {}
  # oathkeeper: {}
  # otelcol: {}
  pgadmin4: {}
  # prometheus: {}
  # pyroscope: {}
  # redis: {}
  # redpanda: {}
  # redpanda-console: {}
  # registry: {}
  # server: {}
  # server-migrate: {}
  # swagger-ui: {}
  # tempo: {}
  # vector: {}
